.backgroundDiv {
  height:100vh; 
  overflow:hidden;
}

.backgroundImg {
  background-position: center;
  background-size: cover;
  height: 100vh; 
}

.headerHome {
  position: absolute;
  top: 0vh;
  left: 0vh;
  line-height: 4vh;
  vertical-align: middle;
  padding: 0 0.6vw 0.6vw 0.6vw;
}