/* home {
  width: 100%
} */

/* #container-home {
  max-width: none;
  width: 100vw;
  display: block;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;

} */

#image-home {
  /* la photo est agrandie, en remplissant tout l'espace */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /* box-sizing: content-box; */
  /* et l'exedent est caché */
  overflow: hidden;

  /* même largeur de la card */
  max-width: none; 

  /*hauteur moindre, pour laisser la place au texte */
  height: 100vh; 

  /* centre l'image */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}