.card{
  margin: 1vw;
  background-color: #fff;
  width: 35vw;
  height: 32vw;
  box-shadow: none;
}

.card-image {
  background-size: cover;
  overflow: hidden;
  width: 35vw;
  height: 27vw;
  display: flex;
  align-items: center

}

#card-content-at{
  font-family: 'Rajdhani', sans-serif;
  
  font-size:calc(7px + 1.5vw);
  height: 3vw;
  padding: 0;
}