.material-icons {
  color: rgb(65, 66, 66);
}

@media ( max-width: 600px ) {
  .material-icons {
    font-size: 30px;
  }
}

@media ( min-width: 601px ) {
  .material-icons {
    font-size: 35px;
  }
}

@media ( min-width: 992px ) {
  .material-icons {
    font-size: 40px;
  }
}

@media ( min-width: 1201px ) {
  .material-icons {
    font-size: 55px;
  }
}


.sidenav {
  width: 50vw;
}

.fixed-menu {
  position: fixed;
  right: 2vw;
  top: 1.75vw;
  z-index: 5;
}
