.header {
  margin: 1.75vw 2vw 2vw 2vw;
}

img {
  color: rgb(65, 66, 66);
}

@media ( max-width: 600px ) {
  img {
    /* width:3vw; */
    height: 28px;
  }
}

@media ( min-width: 601px ) {
  img {
    height: 30px;
  }
}

@media ( min-width: 992px ) {
  img {
    height: 37px;
  }
}

@media ( min-width: 1201px ) {
  img {
    height: 44px;
  }
}